.container .main-content .container-content .content .head-page {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cccccc;
    padding: 10px 0;
}
.container .main-content .container-content .content .head-page .title {
    font-size: 26px;
    font-style: italic;
    font-weight: 700;
    line-height: 45px;
    vertical-align: center;
}
.container .main-content .container-content .content .head-page .buttons {
    display: flex;
    justify-content: right;
    text-align: center;
}
.container .main-content .container-content .content .head-page .buttons a {
    border: 1px solid #cccccc;
    background: #eeeeee;
    margin: 0 10px;
    padding: 10px;
    width: 160px;
    text-decoration: none;
    color: #000000;
}
.container .main-content .container-content .content .head-page .buttons a:hover {
    background: lightgreen;
}
.container .main-content .container-content .content .body-page .contact-item {
    margin: 20px 0;
    border-bottom: 1px solid #cccccc;
}
.container .main-content .container-content .content .body-page .contact-item .info .label-input {
    display: flex;
    flex-direction: column;
    margin: 0 10px
}
.container .main-content .container-content .content .body-page .contact-item .info .label-input label,
.container .main-content .container-content .content .body-page .contact-item .info .label-input input,
.container .main-content .container-content .content .body-page .contact-item .info .label-input select,
.container .main-content .container-content .content .body-page .contact-item .info .label-input textarea  {
    font-size: 18px;
    font-style: italic;
    color: #565353FF;
}
.container .main-content .container-content .content .body-page .contact-item .info .label-input select {
    height: 26px;
}
.container .main-content .container-content .content .body-page .contact-item .info .label-input div {
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    color: #000000;
}

/* блок кнопок */
.container .main-content .container-content .content .body-page .contact-item .buttons {
    display: flex;
    justify-content: right;
    margin: 10px 0;
}

/* кнопка редактирования */
.container .main-content .container-content .content .body-page .contact-item .buttons a {
    border: 1px solid #cccccc;
    background: #eeeeee;
    margin: 0 10px;
    padding: 10px;
    width: 160px;
    text-decoration: none;
    color: #000000;
    text-align: center;
}
.container .main-content .container-content .content .body-page .contact-item .buttons a:hover {
    background: lightgreen;
}
/* кнопка переноса в архив */
.container .main-content .container-content .content .body-page .contact-item .buttons a.button-move-to-archive {
    border: 1px solid #cccccc;
    background: #eeeeee;
    margin: 0 10px;
    padding: 10px;
    width: 160px;
    text-decoration: none;
    color: #000000;
}
.container .main-content .container-content .content .body-page .contact-item .buttons a.button-move-to-archive:hover {
    background: #F3640BFF;
}

.container .main-content .container-content .content .body-page .contact-item .error {
    background: #FCB7BDFF;
    border: 1px solid #FF0000;
}
