.container .main-content .container-content .content .dashboard {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container .main-content .container-content .content .dashboard .dashboard-title {
    font-size: 26px;
    font-style: italic;
    font-weight: 700;
    border-bottom: 1px solid #cccccc;
    line-height: 45px;
    padding: 10px 0;
}

.container .main-content .container-content .content .dashboard .dashboard-table {
    text-align: center;
}


.container .main-content .container-content .content .dashboard .dashboard-table .contacts,
.container .main-content .container-content .content .dashboard .dashboard-table .balances,
.container .main-content .container-content .content .dashboard .dashboard-table .lessons {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border-bottom: 1px solid #cccccc;
    padding: 10px 0;
}

.container .main-content .container-content .content .dashboard .dashboard-table .contacts .title-block,
.container .main-content .container-content .content .dashboard .dashboard-table .balances .title-block,
.container .main-content .container-content .content .dashboard .dashboard-table .lessons .title-block {
    font-size: 22px;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    padding: 0 0 10px 0;
}

.container .main-content .container-content .content .dashboard .dashboard-table .contacts .archive-contacts,
.container .main-content .container-content .content .dashboard .dashboard-table .contacts .active-contacts,
.container .main-content .container-content .content .dashboard .dashboard-table .balances .balance-item,
.container .main-content .container-content .content .dashboard .dashboard-table .lessons .lesson-item {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container .main-content .container-content .content .dashboard .dashboard-table .contacts .active-contacts .label,
.container .main-content .container-content .content .dashboard .dashboard-table .contacts .archive-contacts .label,
.container .main-content .container-content .content .dashboard .dashboard-table .balances .balance-item .label,
.container .main-content .container-content .content .dashboard .dashboard-table .lessons .lesson-item .label {
    text-align: right;
    padding-right: 5px;
    color: #cccccc;
}

.container .main-content .container-content .content .dashboard .dashboard-table .contacts .active-contacts .value,
.container .main-content .container-content .content .dashboard .dashboard-table .contacts .archive-contacts .value,
.container .main-content .container-content .content .dashboard .dashboard-table .balances .balance-item .value,
.container .main-content .container-content .content .dashboard .dashboard-table .lessons .lesson-item .value {
    text-align: left;
    padding-left: 5px;
}