.container .main-content .container-content .content .dashboard {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container .main-content .container-content .content .dashboard .dashboard-title {
    font-size: 26px;
    font-style: italic;
    font-weight: 700;
    border-bottom: 1px solid #696969;
    line-height: 45px;
    padding: 10px 0;
}

.container .main-content .container-content .content .dashboard .dashboard-table {
    text-align: center;
}

.dashboard-row {
    display: flex;
    border-bottom: 1px solid #696969;
    padding: 5px;
    font-size: 20px;
}

.dashboard-row .label {
    padding-top: 2px;
    margin-right: 10px;
    text-align: right;
}

.dashboard-row .title input, .dashboard-row .title textarea {
    font-size: 20px;
}

.item-button a.button {
    margin-right: 5px;
    padding: 5px 0px 5px 5px;
}

.item-button a.button:last-child {
    margin-right: 0px;
    padding: 5px 5px 5px 5px;
}
