.container .main-content .content .reports {
    display: flex;
    flex-direction: column;
}

.container .main-content .content .reports .reports-title {
    font-size: 26px;
    font-style: italic;
    font-weight: 700;
    border-bottom: 1px solid #cccccc;
    line-height: 45px;
    padding: 10px 0;
}

.container .main-content .content .reports .reports-filter {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-bottom: 1px solid #cccccc;
}

.container .main-content .content .reports .reports-filter .period-selector {
    text-align: right;
    padding: 10px 10px 10px 0;
}

.container .main-content .content .reports .reports-filter .period-selector select {
    width: 50%;
    padding: 10px;
    font-size: 20px;
}

.container .main-content .content .reports .reports-filter .contact-selector {
    text-align: left;
    padding: 10px 0;
}

.container .main-content .content .reports .reports-filter .contact-selector select {
    width: 80%;
    padding: 10px;
    font-size: 20px;
}

.container .main-content .content .reports .reports-tables {
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc;
}

.container .main-content .content .reports .reports-tables .table-total-title {
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    padding: 10px 0;
}

.container .main-content .content .reports .reports-tables .table-total .label {
    text-align: right;
    padding-right: 5px;
    color: #cccccc;
}

.container .main-content .content .reports .reports-tables .table-total .value {
    text-align: left;
    padding-left: 5px;
}

.container .main-content .content .reports .reports-tables .table-total {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container .main-content .container-content .content .reports-filter .report-filter-button {
    padding: 10px 0;
    display: flex;
}

.container .main-content .container-content .content .reports-filter .report-filter-button a {
    border: 1px solid #cccccc;
    background: #eeeeee;
    margin: 0 10px;
    padding: 10px;
    width: 160px;
    text-decoration: none;
    color: #000000;
    text-align: center;
}

.container .main-content .container-content .content .reports-filter .report-filter-button a:hover {
    background: lightgreen;
}