.container .main-content .content .schedules {
    display: flex;
    flex-direction: column;
}

.container .main-content .content .schedules .calendar {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.container .main-content .content .schedules .day-schedule {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
}

.container .main-content .content .schedules .day-schedule .title {
    font-size: 26px;
    font-style: italic;
    font-weight: 700;
    text-align: center;
}

.container .main-content .content .schedules .day-schedule .day-schedule-empty {
    font-style: italic;
    font-weight: 700;
    text-align: center;
    color: #454545;
}

.container .main-content .content .schedules .day-schedule .buttons {
    display: flex;
    justify-content: right;
}

.container .main-content .content .schedules .day-schedule .buttons a.add-day-schedule-item {
    border: 1px solid #cccccc;
    background: #eeeeee;
    margin: 0 10px;
    padding: 10px;
    width: 160px;
    text-decoration: none;
    color: #000000;
    text-align: center;
}

.container .main-content .content .schedules .day-schedule .buttons a.add-day-schedule-item:hover {
    background: lightgreen;
}

.container .main-content .content .schedules .day-schedule .day-schedule-item {
    display: flex;
    justify-content: space-between;
}

.container .main-content .content .schedules .day-schedule .row {
    border-bottom: 1px solid #454545;
    padding: 10px 0;
    margin: 0;
}

.container .main-content .content .schedules .day-schedule .row:last-child {
    border-bottom: none;
}

.container .main-content .content .schedules .day-schedule .day-schedule-item .pupil,
.container .main-content .content .schedules .day-schedule .day-schedule-item .time{
    font-size: 26px;
}

.container .main-content .content .schedules .day-schedule .day-schedule-item .buttons {
    display: flex;
    justify-content: right;
}

.container .main-content .content .schedules .day-schedule .day-schedule-item .buttons a.done-button,
.container .main-content .content .schedules .day-schedule .day-schedule-item .buttons a.delete-button {
    font-size: 14px;
    border: 1px solid #cccccc;
    background: #eeeeee;
    margin: 0 10px;
    padding: 5px;
    width: 80px;
    text-decoration: none;
    color: #000000;
    text-align: center;
}

.container .main-content .content .schedules .day-schedule .day-schedule-item .buttons a.done-button:hover {
    background: lightgreen;
}

.container .main-content .content .schedules .day-schedule .day-schedule-item .buttons .done-text {
    font-size: 26px;
    color: green;
    padding: 0 10px;
}

.container .main-content .content .schedules .day-schedule .day-schedule-item .buttons a.delete-button:hover {
    background: #F3640BFF;
}

.container .main-content .content .schedules .day-schedule .day-schedule-item .time input[name="set_time"] {
    font-size: 20px;
    box-sizing: border-box;
}

.container .main-content .content .schedules .day-schedule .day-schedule-item .pupil select[name="set_contact"] {
    font-size: 20px;
    box-sizing: border-box;
    padding: 1px 2px;
}

/*.container .main-content .content .schedules .day-schedule .day-schedule-item:first-child {*/
/*    border-top: 1px solid #454545;*/
/*}*/

.container .main-content .content .schedules .day-schedule .buttons a.save-day-schedule-item {
    border: 1px solid #cccccc;
    background: #eeeeee;
    margin: 0 10px;
    padding: 10px;
    width: 160px;
    text-decoration: none;
    color: #000000;
    text-align: center;
}

.container .main-content .content .schedules .day-schedule .buttons a.save-day-schedule-item:hover {
    background: lightgreen;
}
