{# dashboard/index.twig #}

{% extends 'base.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="../../public/css/dashboard.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="../../public/js/dashboard.js"></script>
{% endblock %}

{% block content %}
    <div class="dashboard">
        <div class="dashboard-title col-12">Список новостей</div>

        <div class="dashboard-row col-12">
            <a href="/admin/news/create" class="button">
                <div class="button-row">
                    <div class="button-image">
                        <i class="fas fa-plus"></i>
                    </div>
                    <div class="button-text">
                        Добавить
                    </div>
                </div>
            </a>
        </div>

        {% if news|length > 0 %}
            {% for new in news %}
                <div class="dashboard-row col-12">
                    {{ include('layers/admin_item.twig') }}
                </div>
            {% endfor %}
        {% else %}
            <div class="dashboard-row col-12">
                <div class="new-empty">
                    Новостей нет
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
